.ier_manifest_widget {
    td, th {
        border-width: 0;
        padding: 2px 8px;
        border-width: thin;
    }
    table, {
        width: 100%;
    }
    .ier_badge {
        border: 1px solid #777777;
        border-radius: 50rem !important;
        color: #777777;
        margin-right: 2px;
        font-size: 0.90em;
    }
}