.ier_import_wizard {
    div[name='error_html'] td,
    div[name='error_html'] th,
    div[name='warning_html'] td,
    div[name='warning_html'] th {
        border-width: 0;
        padding: 2px 8px;
        border-width: thin;
    }
    div[name='error_html'] table,
    div[name='warning_html'] table {
        width: 100%;
    }
    .o_form_sheet_bg .alert {
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
    label[for='manifest_export'],
    label[for='manifest_post_process_code'],
    label[for='manifest_pre_process_code'] {
        font-weight: 500 !important;
    }
}

.ier_template_tree {
    th[data-name='description'] {
        max-width: 200px !important;
    }
    td[name='description'] div[name='description'] {
        display: inline !important;
    }
}